body {

    background-color: #ddd;
    background-image: url(./img/45degreee_fabric.jpg);
    color: white;
    font-size: 21px;


}

h1 {color: red;
    font-size: 50px;
    text-align: center;
}
h2 {color: orange;
    font-size: 30px;
    text-align: center;
}